@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  position: relative;
  max-width: 500px;
  /* Adjust the max-width as needed */
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.error {
  margin-top: 1rem;
  color: #ecc22c;
}

.inputbox {
  position: relative;
  margin: 20px 0;
  max-width: 550px;
  border-bottom: 2px solid #fff;
}

.inputbox input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;

  color: #fff;
  font-size: 1rem;
  pointer-events: none;
}

input::placeholder {
  color: #f5f5f5;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.register {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
  color: #a8a8a8;
}