<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Task</title>
    <link rel="stylesheet" th:href="@{/styles/editTaskStyle.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Edit Task</h1>

      <form
        th:action="@{/api/v1/tasks/{id}/edit(id=${task.id})}"
        th:object="${task}"
        method="post"
      >
        <input type="text" th:field="*{title}" required />
        <button type="submit" class="btn">Update</button>
      </form>
      <div class="cancel">
        <a href="/api/v1/tasks" class="btn">Cancel</a>
      </div>
    </div>
  </body>
</html>
