<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoApplication</title>
    <link rel="stylesheet" th:href="@{/tasksStyle.css}">
</head>
<body>
<header>
    <div>
        <span class="user-icon" style="font-size: 24px;">&#128100;</span>
        <span th:text="${session.user.username}">Username</span>
    </div>
    <a href="/api/v1/logout" class="btn btn-logout">Logout</a>
</header>
<div class="container">
    <h1>TodoApplication</h1>

    <form action="/api/v1/tasks" method="post">
        <input type="text"
               name="title"
               placeholder="Add a new task..."
               required>

        <button type="submit">Add</button>
    </form>

    <th:block th:each="task : ${tasks}">
        <div class="card">
            <span class="task-title"
                  th:classappend="${task.completed} ? ' text-strikethrough'"
                  th:text="${task.title}">
                Task Title
            </span>

            <div>
                <a th:href="@{/api/v1/tasks/{id}/toggle(id=${task.id})}" class="btn btn-toggle">Toggle</a>
                <a th:href="@{/api/v1/tasks/{id}/delete(id=${task.id})}" class="btn btn-delete">Delete</a>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>