<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApplication</title>
    <link rel="stylesheet" th:href="@{/styles/tasksStyle.css(v=1.9)}" />
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>

<body>
    <header>
        <div>
            <span class="user-icon" style="font-size: 24px">&#128100;</span>
            <span th:text="${user.username}" th:data-user-id="${user.id}" id="user-info">Username</span>
        </div>
        <a href="/api/v1/logout" class="btn btn-logout">Logout</a>
    </header>
    <div class="container">
        <h1>TodoApplication</h1>

        <form action="/api/v1/tasks" method="post">
            <input type="text" name="title" placeholder="Add a new task..." required />
            <input type="datetime-local" name="reminderDate" class="reminder-date-input" />
            <button type="submit">Add</button>
        </form>

        <div class="filter-container">
            <a th:href="@{/api/v1/tasks(filter=all)}" class="btn-filter" th:classappend="${currentFilter == 'all' ? 'active' : ''}">All</a>
            <a th:href="@{/api/v1/tasks(filter=incomplete)}" class="btn-filter" th:classappend="${currentFilter == 'incomplete' ? 'active' : ''}">Incomplete</a>
            <a th:href="@{/api/v1/tasks(filter=completed)}" class="btn-filter" th:classappend="${currentFilter == 'completed' ? 'active' : ''}">Completed</a>
        </div>

        <th:block th:each="task : ${tasks}">
            <div class="card">
                <div class="task-content">
                    <span class="task-title" th:classappend="${task.completed} ? ' text-strikethrough'"
                        th:text="${task.title}">
                        Task Title
                    </span>
                    <div class="reminder-info" th:if="${task.reminderDate != null}">
                        <small th:text="'Reminder: ' + ${#temporals.format(task.reminderDate, 'yyyy-MM-dd HH:mm')}"></small>
                    </div>
                </div>

                <div class="task-actions">
                    <a th:href="@{/api/v1/tasks/{id}/toggle(id=${task.id})}" class="btn btn-toggle">Toggle</a>
                    <a th:href="@{/api/v1/tasks/{id}/delete(id=${task.id})}" class="btn btn-delete">Delete</a>
                    <a th:href="@{/api/v1/tasks/{id}/edit(id=${task.id})}" class="btn btn-edit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" style="width: 20px">
                            <path
                                d="M535.6 85.7C513.7 63.8 478.3 63.8 456.4 85.7L432 110.1L529.9 208L554.3 183.6C576.2 161.7 576.2 126.3 554.3 104.4L535.6 85.7zM236.4 305.7C230.3 311.8 225.6 319.3 222.9 327.6L193.3 416.4C190.4 425 192.7 434.5 199.1 441C205.5 447.5 215 449.7 223.7 446.8L312.5 417.2C320.7 414.5 328.2 409.8 334.4 403.7L496 241.9L398.1 144L236.4 305.7zM160 128C107 128 64 171 64 224L64 480C64 533 107 576 160 576L416 576C469 576 512 533 512 480L512 384C512 366.3 497.7 352 480 352C462.3 352 448 366.3 448 384L448 480C448 497.7 433.7 512 416 512L160 512C142.3 512 128 497.7 128 480L128 224C128 206.3 142.3 192 160 192L256 192C273.7 192 288 177.7 288 160C288 142.3 273.7 128 256 128L160 128z" />
                        </svg>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
    <script th:src="@{/js/websocket.js}"></script>
</body>
</html>