<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoApplication</title>
    <link rel="stylesheet" th:href="@{/tasksStyle.css}">
</head>
<body>
<div class="container">
    <h1>TodoApplication</h1>

    <form action="/" method="post">
        <input type="text"
               name="title"
               placeholder="Add a new task..."
               required>

        <button type="submit">Add</button>
    </form>

    <th:block th:each="task : ${tasks}">
        <div class="card">
            <span class="task-title"
                  th:classappend="${task.completed} ? ' text-strikethrough'"
                  th:text="${task.title}">
                Task Title
            </span>

            <div>
                <a th:href="@{/{id}/toggle(id=${task.id})}" class="btn btn-toggle">Toggle</a>
                <a th:href="@{/{id}/delete(id=${task.id})}" class="btn btn-delete">Delete</a>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>