@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #fff;
}

form {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 25px;
}

input {
    background-color: #eee;
}

input[type="text"] {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button[type="submit"]:hover {
    background-color: #0062cc;
}

.cancel {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.btn {
    text-decoration: none;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}